{{ $this_object := partial "openapi/resolvers/resolve-allof" . }}
{{ $additional_objects := slice }}

{{ if eq $this_object.type "object" }}

    {{ $additional_objects = $additional_objects | append (partial "clean-object" $this_object) }}

    {{ if $this_object.additionalProperties }}
        {{ if reflect.IsMap $this_object.additionalProperties }}
            {{ $additional_objects = $additional_objects | append (partial "clean-object" $this_object.additionalProperties) }}

            {{ range $key, $property := $this_object.additionalProperties.properties}}
                {{ $additional_objects = partial "get-additional-objects" (dict "this_object" $property "additional_objects" $additional_objects) }}
            {{ end }}

        {{ end }}
    {{ end }}

    {{ range $key, $property := $this_object.properties}}
        {{ $additional_objects = partial "get-additional-objects" (dict "this_object" $property "additional_objects" $additional_objects) }}
    {{ end }}

{{ end }}

{{ if eq $this_object.type "array" }}
    {{ if reflect.IsSlice $this_object.items}}
        {{ range $this_object.items }}
            {{ $additional_objects = partial "get-additional-objects" (dict "this_object" . "additional_objects" $additional_objects) }}
        {{ end }}
    {{ else }}
        {{ $additional_objects = partial "get-additional-objects" (dict "this_object" $this_object.items "additional_objects" $additional_objects) }}
    {{ end }}
{{ end }}

{{ return $additional_objects }}


{{/* this actually makes the recursive call and adds the returned objects to the list */}}
{{ define "partials/get-additional-objects" }}
    {{ $additional_objects := .additional_objects }}

    {{ $this_object := partial "openapi/resolvers/resolve-allof" .this_object }}
    {{ $more_objects := partial "openapi/resolvers/resolve-additional-types" $this_object }}
    {{ range $more_objects}}
        {{ $additional_objects = $additional_objects | append (partial "clean-object" .) }}
    {{ end }}
    {{ return $additional_objects }}
{{ end }}

{{/* only copy the bits of the object that we actually care about. this is only needed for uniqify to work */}}
{{ define "partials/clean-object" }}
    {{ return (dict "title" .title "properties" .properties "required" .required "enum" .enum) }}
{{ end }}
