{{ $this_ao := . }}

{{ $additional_objects := slice }}

{{ $resolved := partial "openapi/resolve-allof" (dict "object" $this_ao) }}
{{ $this_ao = $resolved }}

{{ if reflect.IsMap $this_ao }}

 {{ range $key, $property := $this_ao.properties}}

   {{ $resolved := partial "openapi/resolve-allof" $property }}
   {{ $property = $resolved }}

   {{ $more_objects := partial "openapi/resolve-additional-types" $property }}

   {{ range $more_objects}}
     {{ $additional_objects = $additional_objects | append (dict "title" .title "properties" .properties "required" .required) }}
   {{end}}

 {{ end }}

 {{ if eq $this_ao.type "object" }}
   {{ $additional_objects = $additional_objects | append (dict "title" $this_ao.title "properties" $this_ao.properties "required" $this_ao.required) }}
 {{ end }}


{{ end }}

{{ return $additional_objects }}
