{{ $path := path.Join "changelog" }}

{{ $config_file := path.Join $path "pyproject.toml" }}
{{ $config := readFile $config_file | transform.Unmarshal }}

{{ $status := .Site.Params.version.status }}

{{ if eq $status "unstable" }}
    {{ $news_path := path.Join $path "newsfragments" }}
    {{ partial "changelog/render-newsfragments"  (dict "config" $config "news_path" $news_path )}}
{{ else }}
    {{ $releases_path := path.Join $path "releases" }}
    {{ $major_version := .Site.Params.version.major_version }}
    {{ $minor_version := .Site.Params.version.minor_version }}
    {{ $releases := partial "reverse-slice" (readDir $releases_path) }}
    {{ range $releases }}
        {{ if .IsDir }}
<h2 id="{{ .Name }}" class="no-numbers">Version {{ $major_version }}.{{ $minor_version }}.{{ .Name }}</h2>
            {{ $release_path := path.Join $releases_path .Name}}
            {{ $release_info := readFile (path.Join $release_path "release.yaml") | transform.Unmarshal }}
<table class="release-info">
  <tr><th>Git commit</th><td><a href="https://github.com/matrix-org/matrix-doc/tree/{{ $release_info.tag }}">https://github.com/matrix-org/matrix-doc/tree/{{ $release_info.tag }}</a></td>
  <tr><th>Release date</th><td>{{ $release_info.date }}</td>
</table>
            {{ $news_path := path.Join $release_path "newsfragments" }}
            {{ partial "changelog/render-newsfragments"  (dict "config" $config "news_path" $news_path )}}
        {{ end }}
    {{ end }}
{{ end }}

{{ define "partials/reverse-slice" }}
{{ $sliceOriginal := . }}
{{ $len := len $sliceOriginal }}
{{ $sliceReversed := slice }}
{{ range seq $len }}
    {{ $sliceReversed = $sliceReversed | append (index $sliceOriginal (sub $len .)) }}
{{ end }}
{{ return $sliceReversed }}
{{ end }}
