$primary: #FFF;
$secondary: #0098D4;
$dark: #333;
$gray-100: #FBFBFB;

$warning: #FF6666;
$note: $secondary;

$note-background: #E5F5FB;
$warning-background: #FFE0E0;

$table-row-alternate: #FBFDFD;
$table-row-default: #F4FaFC;
