{{ $caption := .caption }}
{{ $properties := .properties}}
{{ $required := .required}}

<table class>
 {{ with $caption }}
 <caption>{{ . }}</caption>
 {{ end }}
 <thead>
  <td class="col-name">Name</td>
  <td class="col-type">Type</td>
  <td class="col-description">Description</td>
 </thead>

    {{ range $property_name, $property := $properties }}

        {{ $property := partial "openapi/resolvers/resolve-allof" $property }}

        {{ $type := $property.type}}
        {{ if $property.title }}
            {{ $type = $property.title }}
        {{ end }}

        {{ if eq $type "array"}}
            {{ $inner_type := $property.items.type }}
            {{ if $property.items.title }}
                {{ $inner_type = $property.items.title }}
            {{ end }}
            {{ $type = delimit (slice "[" $inner_type "]") "" }}
        {{ end }}

        {{ if (and (eq $type "string") ($property.enum)) }}
            {{ $type = "enum" }}
        {{ end }}

        {{/* handle two ways of indicating "required", one for simple parameters, the other for request and response body objects */}}
        {{ $required := cond (or (in $required $property_name) ( eq $property.required true )) true false }}

 <tr>
  <td><code>{{ $property_name }}</code></td>
  <td><code>{{ $type }}</code></td>
  <td>{{ if $required }}<strong>Required: </strong>{{end}}{{ $property.description | markdownify }}{{ if eq $type "enum"}}<p>One of: <code>{{ $property.enum }}</code>.</p>{{ end }}</td>
 </tr>

    {{ end }}

</table>
