{{ $parameters := .parameters }}
{{ $path := .path }}
{{ $base_data := .base_data }}

<h2>Request</h2>

{{ if $parameters }}

    {{ $simple_parameters := where $parameters "in" "!=" "body"}}
    {{ if $simple_parameters }}

        {{ partial "openapi/renderers/render-parameters" (dict "parameters" $simple_parameters "type" "header" "caption" "header parameters") }}
        {{ partial "openapi/renderers/render-parameters" (dict "parameters" $simple_parameters "type" "path" "caption" "path parameters") }}
        {{ partial "openapi/renderers/render-parameters" (dict "parameters" $simple_parameters "type" "query" "caption" "query parameters") }}

    {{ end }}

    {{ $body_parameters := where $parameters "in" "body"}}
    {{ if $body_parameters }}

        {{/* at most one body param is allowed by the spec */}}
        {{ $body_parameter := index $body_parameters 0 }}
        {{ $schema := partial "openapi/resolvers/resolve-refs" (dict "schema" $body_parameter.schema "path" $path "base_data" $base_data) }}
        {{ $schema := partial "openapi/resolvers/resolve-allof" $schema }}

        {{/* render the table for this parameter */}}
        {{ partial "openapi/renderers/render-object-table" (dict "caption" "Request body" "properties" $schema.properties "required" $schema.required) }}

        {{/* get nested objects for this parameter */}}
        {{ $additional_types := slice }}
        {{ range $property_name, $property := $schema.properties }}
            {{ $additional_types_for_parameter := partial "openapi/resolvers/resolve-additional-types" $property }}
            {{ range $additional_types_for_parameter }}
                {{ $additional_types = $additional_types | append . }}
            {{ end }}
        {{end}}

        {{/* render additional types */}}
        {{ $additional_types = uniq $additional_types }}
        {{ range $additional_types }}
            {{ partial "openapi/renderers/render-object-table" (dict "caption" .title "properties" .properties "required" .required) }}
        {{ end }}

    {{ end }}

{{ end }}
