{{ $responses := .responses }}
{{ $path := .path }}
{{ $base_data := .base_data }}

<h2>Responses</h2>

<table class>
 <thead>
  <td class="col-status">Status</td>
  <td class="col-status-description">Description</td>
 </thead>

{{ range $code, $response := $responses }}

 <tr>
  <td><code>{{ $code }}</code></td>
  <td>{{ $response.description | markdownify }}</td>
 </tr>

{{ end }}

</table>

{{ $ok := index $responses "200" }}
{{ if $ok.schema }}

    {{ $schema := partial "openapi/resolvers/resolve-refs" (dict "schema" $ok.schema "path" $path "base_data" $base_data) }}
    {{ $schema := partial "openapi/resolvers/resolve-allof" $schema }}

    {{ if $schema.properties }}
        {{ partial "openapi/renderers/render-object-table" (dict "caption" "200 response body" "properties" $schema.properties "required" $schema.required) }}

        {{/* get nested objects for this parameter */}}
        {{ $additional_types := slice }}
        {{ range $property_name, $property := $schema.properties }}
            {{ $additional_types_for_parameter := partial "openapi/resolvers/resolve-additional-types" $property }}
            {{ range $additional_types_for_parameter }}
                {{ $additional_types = $additional_types | append . }}
            {{ end }}
        {{end}}

        {{/* render additional types */}}
        {{ $additional_types = uniq $additional_types }}
        {{ range $additional_types }}
          {{ partial "openapi/renderers/render-object-table" (dict "caption" .title "properties" .properties "required" .required) }}
        {{ end }}

        {{ $example := partial "openapi/resolvers/resolve-example" $schema }}
<h3>200 response body example</h3>

        {{ if $ok.examples }}
            {{ $example = partial "openapi/resolvers/resolve-refs" (dict "schema" $ok.examples "path" $path "base_data" $base_data) }}
        {{ else }}
            {{ $example = (dict "application/json" $example) }}
        {{ end }}

```json
{{ jsonify (dict "indent" "  ") $example }}
```

    {{ end }}
{{ end }}
