{{ $parameters := .parameters }}
{{ $path := .path }}
{{ $base_data := .base_data }}

<h2>Request</h2>

{{ if $parameters }}

    {{ $simple_parameters := where $parameters "in" "!=" "body"}}
    {{ if $simple_parameters }}
<h3>Request parameters</h3>

        {{ partial "openapi/renderers/render-parameters" (dict "parameters" $simple_parameters "type" "header" "caption" "header parameters") }}
        {{ partial "openapi/renderers/render-parameters" (dict "parameters" $simple_parameters "type" "path" "caption" "path parameters") }}
        {{ partial "openapi/renderers/render-parameters" (dict "parameters" $simple_parameters "type" "query" "caption" "query parameters") }}

    {{ end }}

    {{ $body_parameters := where $parameters "in" "body"}}
    {{ if $body_parameters }}

        {{/* at most one body param is allowed by the spec */}}
        {{ $body_parameter := index $body_parameters 0 }}
        {{ $schema := partial "openapi/resolvers/resolve-refs" (dict "schema" $body_parameter.schema "path" $path "base_data" $base_data) }}
        {{ $schema := partial "openapi/resolvers/resolve-allof" $schema }}

<h3>Request body</h3>

        {{ $additional_types := partial "openapi/resolvers/resolve-additional-types" $schema }}
        {{ $additional_types = uniq $additional_types }}
        {{ range $additional_types }}
            {{ partial "openapi/renderers/render-object-table" (dict "caption" .title "properties" .properties "required" .required) }}
        {{ end }}

<h3>Request body example</h3>
        {{ $example := partial "openapi/resolvers/resolve-example" $schema }}
```json
{{ jsonify (dict "indent" "  ") $example }}
```
    {{ end }}

{{ else }}
<p>No request parameters or request body.</p>
{{ end }}
