{{ $parameters := .parameters }}
{{ $path := .path }}
{{ $base_data := .base_data }}

<h2>Request</h2>

<h3>Request parameters</h3>

{{ if $parameters }}

{{ $simple_parameters := where $parameters "in" "!=" "body"}}

    {{ if $simple_parameters }}

        {{ partial "openapi/renderers/render-parameters" (dict "parameters" $simple_parameters "type" "header" "caption" "header parameters") }}
        {{ partial "openapi/renderers/render-parameters" (dict "parameters" $simple_parameters "type" "path" "caption" "path parameters") }}
        {{ partial "openapi/renderers/render-parameters" (dict "parameters" $simple_parameters "type" "query" "caption" "query parameters") }}

    {{ else }}
<p>None.</p>
    {{ end }}

{{ else }}
<p>None.</p>
{{ end }}

<h3>Request body</h3>

{{ with $parameters }}

    {{ $additional_types := slice }}

    {{/* render body parameter */}}
    {{ $body_params := where . "in" "body"}}

    {{ range $parameter := $body_params }}
        {{ $schema := partial "openapi/resolvers/resolve-refs" (dict "schema" $parameter.schema "path" $path "base_data" $base_data) }}
        {{ $schema := partial "openapi/resolvers/resolve-allof" $schema }}

        {{/* render the table for this parameter */}}
        {{ partial "openapi/renderers/render-object-table" (dict "caption" "" "properties" $schema.properties) }}
        {{/* get nested objects for this parameter */}}
        {{ range $property_name, $property := $schema.properties }}
            {{ $additional_types_for_parameter := partial "openapi/resolvers/resolve-additional-types" $property }}
            {{ range $additional_types_for_parameter }}
                {{ $additional_types = $additional_types | append . }}
            {{ end }}
        {{end}}

    {{ end }}

    {{/* render additional types */}}
    {{ $additional_types = uniq $additional_types }}
    {{ with $additional_types }}

        {{ range . }}
            {{ partial "openapi/renderers/render-object-table" (dict "caption" .title "properties" .properties) }}
        {{ end }}

    {{ end }}

{{ end }}
