{{ $caption := .caption }}
{{ $properties := .properties}}
{{ $required := .required}}

<table class>
 <caption>{{ $caption }}</caption>
 <thead>
  <td class="col-name">Name</td>
  <td class="col-type">Type</td>
  <td class="col-description">Description</td>
 </thead>

    {{ range $property_name, $property := $properties }}

        {{ $property := partial "openapi/resolvers/resolve-allof" $property }}

        {{ $type := $property.type}}
        {{ if $property.title }}
            {{ $type = $property.title }}
        {{ end }}

        {{ if eq $type "array"}}
            {{ $inner_type := $property.items.type }}
            {{ if $property.items.title }}
                {{ $inner_type = $property.items.title }}
            {{ end }}
            {{ $type = delimit (slice "[" $inner_type "]") "" }}
        {{ end }}

 <tr>
  <td><code>{{ $property_name }}</code></td>
  <td><code>{{ $type }}</code></td>
  <td>{{if in $required $property_name}}<strong>Required: </strong>{{end}}{{ $property.description | markdownify }}</td>
 </tr>

    {{ end }}

</table>
