{{ $method := .method }}
{{ $endpoint := .endpoint }}
{{ $operation_data := .operation_data }}
{{ $path := .path }}
{{ $base_data := .base_data }}

<section class="rendered-data http-api {{ $method }}">

<details {{ if not .compact }}open{{ end }}>
<summary>

<h1 id="{{ lower $method }}{{ anchorize $endpoint }}">
 <span class="http-api-method {{ $method }}">{{ $method }}</span>
 <span class="endpoint"><code>{{ $endpoint }}</code></span>
</h1>

<hr/>

{{ if $operation_data.deprecated }}
    {{ partial "alert" (dict "title" "Warning" "color" "warning" "content" "This API is deprecated and will be removed from a future release.") }}
{{ end }}

<p>{{ $operation_data.description }}</p>

</summary>

<table class="basic-info">
  <tr>
   <th>Rate-limited:</th>
   {{ $forbidden := index $operation_data.responses "429" }}
   <td>{{ if $forbidden }}Yes{{ else }}No{{ end }}</td>
  </tr>
 <tr>
  <th>Requires authentication:</th>
  <td>{{ if $operation_data.security }}Yes{{ else }}No{{ end }}</td>
 </tr>
</table>

{{ partial "openapi/renderers/render-request"   (dict "parameters" $operation_data.parameters "path" $path "base_data" $base_data) }}
{{ partial "openapi/renderers/render-responses" (dict "responses"  $operation_data.responses  "path" $path "base_data" $base_data) }}

</details>

</section>
