{{ $spec := .Params.spec}}

{{ $path := "api/client-server" }}
{{ $all_api_data_original := index .Site.Data.api .Params.spec }}

{{/* all this, just to sort by title! */}}
{{ $all_api_data := slice }}
{{ range $all_api_data_original }}
    {{ $all_api_data = $all_api_data | append (merge . (dict "title" .info.title) ) }}
{{ end }}
{{ $sorted_all_api_data := sort $all_api_data "title" }}

{{ range $sorted_all_api_data }}

<h2>{{ replace .info.title "Matrix Client-Server "  "" }}</h2>

    {{ $base_url := replace .basePath "%CLIENT_MAJOR_VERSION%"  "r0" }}
    {{ partial "openapi/renderers/render-api" (dict "api_data" . "base_url" $base_url "path" $path) }}

{{ end }}
