<h2 id="modules">Modules</h2>

{{ readFile "/content/en/spec/client-server/modules/instant_messaging.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/voip_events.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/typing_notifications.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/receipts.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/read_markers.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/presence.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/content_repo.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/send_to_device.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/device_management.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/end_to_end_encryption.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/secrets.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/history_visibility.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/push.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/third_party_invites.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/search.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/guest_access.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/room_previews.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/tags.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/account_data.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/admin.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/event_context.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/sso_login.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/dm.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/ignore_users.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/stickers.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/report_content.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/third_party_networks.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/openid.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/server_acls.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/mentions.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/room_upgrades.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/server_notices.md" | print | markdownify }}
{{ readFile "/content/en/spec/client-server/modules/moderation_policies.md" | print | markdownify }}
