{{ $event_data := index .Site.Data "event-schemas" "schema" .Params.event }}
{{ $path := "event-schemas/schema" }}
{{ $base_data := index .Site.Data }}
{{ $compact := .Params.compact }}

{{ $event_data = partial "openapi/resolvers/resolve-refs" (dict "schema" $event_data "path" $path "base_data" $base_data) }}
{{ $event_data := partial "openapi/resolvers/resolve-allof" $event_data }}

{{ $event_name := index $event_data.properties.type.enum 0 }}

{{ partial "events/render-event" (dict "event_name" $event_name "event_data" $event_data "compact" $compact "base_data" $base_data)}}
