{{ $event := index .Site.Data "event-schemas" "schema" "core-event-schema" .Params.event_type }}
{{ $path := "event-schemas/schema/core-event-schema" }}
{{ $base_data := index .Site.Data }}

{{ $event = partial "openapi/resolvers/resolve-refs" (dict "schema" $event "path" $path "base_data" $base_data) }}
{{ $event := partial "openapi/resolvers/resolve-allof" $event }}

<section class="rendered-data event">

<details {{ if not .Site.Params.ui.rendered_data_collapsed }}open{{ end }}>
<summary>

<h1>
 <code>{{ humanize $event.title }}</code>
</h1>

{{ $event.description | markdownify }}

<hr/>

</summary>

{{ $event = merge $event (dict "title" "") }}

{{ $additional_types := partial "openapi/resolvers/resolve-additional-types" $event }}
{{ range $additional_types }}
    {{ partial "openapi/renderers/render-object-table" (dict "caption" .title "properties" .properties "required" .required) }}
{{end}}

</details>

</section>
