{{/*

  Generates an index of HTTP APIs for a given part of the specification.

  Individual parts of the overall Matrix specification
  (e.g. "Client-Server API" or "Server-Server API") may define various
  HTTP APIs, that are rendered as sections in the document and that get
  ID attributes attached so the can be linked to using fragments
  (e.g. `#post_matrixclientr0account3pid`).

  This template is used to render a table containing fragment links
  to all rendered HTTP APIs in a single part of the specification
  (e.g. "Client-Server API" or "Server-Server API").

  It expects to be passed a `spec` parameter, which is expected to be
  the name of a directory under /data/api (e.g. "client-server"
  or "identity").

  It loads every OpenAPI schema file under there, finds every endpoint it
  contains, and every HTTP method supported by that endpoint, and writes out
  a table containing links to every operation (where an operation is a
  specific method used on a specific endpoint).

  Links are given as fragments linking to IDs in the same page, like:
  `#post_matrixclientr0account3pid`. So this template expects to be included
  in the same page as the HTTP APIs themselves.

  Links are ordered by the endpoint name. If a given endpoint supports
  more than one method, these are listed in the same order they are given in
  the OpenAPI data.

*/}}

{{ $spec := .Params.spec}}
{{ $all_api_data := index .Site.Data.api .Params.spec }}
{{ $scratch := newScratch }}
{{ $scratch.Set "endpoints" dict }}

{{ range $all_api_data }}

    {{ $base_url := replace .basePath "%CLIENT_MAJOR_VERSION%"  "r0" }}

    {{ range $endpoint, $operations := .paths }}

        {{ $endpoint = printf "%s%s" $base_url $endpoint }}

        {{ $methods := slice }}
        {{ range $method, $operation := $operations }}
            {{ $methods = $methods | append $method }}
        {{ end }}

        {{ $scratch.SetInMap "endpoints" $endpoint $methods }}

    {{ end }}

{{ end }}

{{ $endpoints := $scratch.Get "endpoints" }}

<table>
{{ range $endpoint, $methods := $endpoints }}
    {{ range $methods }}
        {{ $link := printf "%s%s" . (anchorize $endpoint) }}
<tr>
  <td><a href="#{{ $link }}">{{upper . }} {{ $endpoint }}</a></td>
</tr>
    {{ end }}
{{end }}
</table>
