{{ $data := index .Site.Data.api .Params.spec .Params.api }}
{{ $data = $data.__meta }}

{{ $basePath := $data.base }}

{{ range $operation_data := $data.endpoints }}

{{ $path := replace $operation_data.path "%CLIENT_MAJOR_VERSION%"  "r0" }}

<section class="http-api {{ $operation_data.method }}">

<h1>
 <span class="http-api-method {{ $operation_data.method }}">{{ $operation_data.method }}</span>
 <span class="endpoint"><code>{{ $path }}</code></span>
</h1>

<hr/>

<p>{{ $operation_data.desc }}</p>

<table class="basic-info">
  <tr>
   <td><strong>Rate-limited:</strong></td>
   <td>{{ if $operation_data.rate_limited }}Yes{{ else }}No{{ end }}</td>
  </tr>
 <tr>
  <td><strong>Requires authentication:</strong></td>
  <td>{{ if $operation_data.requires_auth }}Yes{{ else }}No{{ end }}</td>
 </tr>
</table>

{{ with $operation_data.req_param_by_loc }}

<h2>Request parameters</h2>

{{ range $type, $param_data := . }}

<table class>
 <caption>{{ $type }} parameters</caption>
 <thead>
  <td class="col-name">Name</td>
  <td class="col-type">Type</td>
  <td class="col-description">Description</td>
 </thead>

{{ range $param_data }}

 <tr>
  <td><code>{{ .key }}</code></td>
  <td><code>{{ .title }}</code></td>
  <td>{{ .desc | markdownify }}</td>
 </tr>

{{ end }}

</table>

{{ end }}

{{ end }}

{{ with $operation_data.req_body_tables }}

<h3>Additional types</h3>

{{ range $additional_type := . }}

<table class>
 <caption>{{ index $additional_type 0 }}</caption>
 <thead>
  <td class="col-name">Name</td>
  <td class="col-type">Type</td>
  <td class="col-description">Description</td>
 </thead>

{{ $fields := index $additional_type 2 }}

{{ range $fields }}
 <tr>
  <td><code>{{ .key }}</code></td>
  <td><code>{{ .title }}</code></td>
  <td>{{ .desc | markdownify }}</td>
 </tr>
{{ end }}

</table>

{{ end }}

{{ end }}

<h2>Responses</h2>

<table class>
 <thead>
  <td class="col-status">Status</td>
  <td class="col-status-description">Description</td>
 </thead>

{{ range $operation_data.responses }}

 <tr>
  <td><code>{{ .code }}</code></td>
  <td>{{ .description | markdownify }}</td>
 </tr>

{{ end }}

</table>

{{ with $operation_data.res_tables }}

<h2>Response data</h2>

{{ range $additional_type := . }}

<table class>
 <caption>{{ index $additional_type 0 }}</caption>
 <thead>
  <td class="col-name">Name</td>
  <td class="col-type">Type</td>
  <td class="col-description">Description</td>
 </thead>

{{ $fields := index $additional_type 2 }}

{{ range $fields }}
 <tr>
  <td><code>{{ .key }}</code></td>
  <td><code>{{ .title }}</code></td>
  <td>{{ .desc | markdownify }}</td>
 </tr>
{{ end }}

</table>

{{ end }}

{{ end }}



</section>

{{ end }}
