{{ $api_data := index .Site.Data.api "client-server" "test" "200"}}
{{ $base_data := index .Site.Data }}
{{ $path := "api/client-server" }}

{{$schema := $api_data.schema}}



<pre>{{ jsonify (dict "indent" "  ") $schema }}</pre>
{{ $schema := partial "openapi/resolvers/resolve-refs" (dict "schema" $schema "path" $path "base_data" $base_data) }}
<pre>{{ jsonify (dict "indent" "  ") $schema }}</pre>
{{ $schema := partial "openapi/resolvers/resolve-allof" $schema }}


{{$examples := $api_data.examples.applicationjson}}
<pre>{{ jsonify (dict "indent" "  ") $examples }}</pre>
{{ $examples := partial "openapi/resolvers/resolve-refs" (dict "schema" $examples "path" $path "base_data" $base_data) }}
<pre>{{ jsonify (dict "indent" "  ") $examples }}</pre>

{{$schema2 := $api_data.schema2}}
<pre>{{ jsonify (dict "indent" "  ") $schema2 }}</pre>
{{ $schema2 := partial "openapi/resolvers/resolve-refs" (dict "schema" $schema2 "path" $path "base_data" $base_data) }}
<pre>{{ jsonify (dict "indent" "  ") $schema2 }}</pre>
