<style>

  /*
  Give top-level Toc items bold style
  */
  #TableOfContents > ul > li > a {
    font-weight: bold;
  }

  /*
  Use standard #333 for ToC text
  */
  .td-toc #TableOfContents a {
    color: #333;
  }

  /*
  This is needed to stop the bottom of the Matrix icon from getting snipped off.
  */
  .td-navbar .navbar-brand svg {
    height: 32px;
  }

  /*
  This overrides calc(100vh - 10rem);, which gives us a blank space at the bottom of the ToC
  */
  .td-toc {
    height: calc(100vh - 5rem);
  }

  /*
  Give code samples and pre elements full-width
  */
  .td-content > .highlight, .td-content > pre {
    max-width: 100%;
  }

  /*
  Make padding symmetrical (this selector is used to apply padding-left: 3rem)
  */
  .pl-md-5, .px-md-5 {
    padding-right: 3rem;
}

  /*
  Styles for HTTP API sections
  */
  .http-api {
    margin: 1rem 0 3rem 0;
    padding: 1rem;
    background-color: rgba(0, 152, 212, .1)
  }

  .http-api .http-api-method {
    padding: .2rem;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-weight: 700;
  }

  .http-api h1 {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .http-api h2 {
    font-size: 1.3rem;
  }

  .http-api h3 {
    font-size: 1.2rem;
  }

  .http-api h2, .http-api h3 {
    margin: 3rem 0 .5rem 0;
  }

  .http-api h2 + table, .http-api h3 + table {
    margin-top: 0;
  }

  .http-api hr {
    border: 1px solid rgb(0, 152, 212);
    margin-bottom: 1.5rem;
  }

  .http-api p {
    margin: .5rem auto;
  }

  .http-api p code, .http-api table code {
    background-color: inherit;
  }

  .http-api table {
    table-layout: fixed;
    width: 100%;
    margin: 1rem 0 .5rem 0;
  }

  .http-api table.basic-info, .http-api table.basic-info td {
    table-layout: fixed;
    border: initial;
    width: 50%;
    margin: 1rem 0 .5rem 0;
  }

  .http-api table, .http-api td {
    border: 2px solid white;
  }

  .http-api caption {
    caption-side: top;
    color: #333;
    font-size: 1.1rem;
  }

  .http-api td {
    padding: .3rem;
  }

  .http-api thead {
    background-color: whitesmoke;
  }

  .http-api .col-name, .http-api .col-type, .http-api .col-status {
    width: 25%;
  }

  .http-api .col-description {
    width: 50%;
  }

  .http-api .col-status-description {
    width: 75%;
  }

  /* Styles for the homepage */
  .td-box h1 {
    font-size: 1.2rem;
  }
</style>
